body{
  text-align: center;
  background-color: aquamarine;
}
#mainpic{
  width: 50vw;
  max-width: 100%;
  padding: 10px ;
}
span {
  display: inline-block;
  background-color: rgb(212, 233, 238);
  padding: 5px;
  border: 5px solid rgb(182, 20, 20);
  margin: 10px;
}